.wrapper .new_exam_box {
  height: 200px;
  border: 1px solid black ;
  width: 700px ;
  margin: 0 auto ;
  text-align: center;
  padding: 10px ;
  border-radius: 5px ;
}

.wrapper .new_exam_box  label {
  display: inline-block;
}

.wrapper .new_exam_box  input[type=text] {
  display: inline-block;
  height: 50px ;
  width: 400px ;
  text-align: center ;
  font-size: 25px ;
}
.wrapper .new_exam_box input[type = submit] {
  height: 40px ;
  display: inline-block;
  margin-top: 10px ;
  margin-bottom:  10px ;
  box-shadow: none ;
  border: none ;
  border-radius: 5px ;
  background-color: #3491D4 ;
  color: #FFF ;
  font-weight:  bold ;
  width: 200px ;
}
