.wraaper .password_reset_box {
  width: 600px ;
  height: 200px ;
  border: 1px solid black ;
}

.wraaper .password_reset_box label{
  display:  inline-block;
}
.wraaper .password_reset_box input[type = text]{
  display:  inline-block;
  height: 30px ;
}
