<div style = "color: green;"><%= flash[:notice] if flash[:notice] %></div>
<%  if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |error| %>
    <li><div style = "color: red;"><%= error %></div></li>
  <% end %>
  </ul>
<% end  %>
