<%= stylesheet_link_tag :home_page_style %>

<div class = "home_link_box">

  <%= link_to 'Check your exams', exams_path, :method => :get %> <br><br>
  <%= link_to "Create a new exam", new_exam_path, :method => :get %><br>

</div>
